$color-primary: #23CBBF;
$color-primary-darker: darken($color-primary, 10%);
$body-bg: desaturate(lighten($color-primary, 45%), 40%);
$block-bg: #fff;
$text-color: #3d3d3d;
$gray: desaturate(lighten($color-primary, 10%), 60%);
$gray-light: lighten($gray, 30%);
$text-muted: $gray;

$wrapper-max-width: 700px;
$gutter: 20px;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  background-color: #fff;
  color: $text-color;

  @media (min-width: 768px) {
    font-size: 14px;
  }
}

body {
  padding: 0;
  margin: 0;
  background-color: $body-bg;
}

section {
  max-width: $wrapper-max-width;
  margin: 0 auto;
  padding: ($gutter * 2);
}

.article {
  text-align: center;
  background-color: $gray-light;
  margin-bottom: $gutter;

  &:last-child {
    margin-bottom: 0;
  }
}

h2 {
  color: $color-primary;
  background-color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
  padding: $gutter;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 2.6rem;
  }

  &:before,
  &:after {
    content: '"';
    color: $gray-light;
  }
}

.article__content {
  position: relative;
  padding: $gutter;

  &:before {
    $stroke-width: 2px;

    content: "";
    display: block;
    border-top: $stroke-width solid $color-primary;
    margin: (-$gutter - ($stroke-width / 2)) $gutter ($gutter - ($stroke-width / 2)) $gutter;
  }

  a {
    text-transform: uppercase;
    color: $color-primary-darker;
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}

p {
  color: $text-muted;
  margin: 0 0 ($gutter / 2) 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header,
footer {
  text-align: center;

  a {
    text-decoration: none;
    color: $color-primary;
    margin-left: .4em;

    &:hover,
    &:focus {
      color: darken($color-primary, 20%);
    }
  }
}

footer {
  padding-bottom: $gutter;
}

header {
  background-color: #fff;
  border-bottom: 4px solid $color-primary;

  [data-icon]:before,
  [class^="icon-"] {
    font-size: 120%;
    vertical-align: middle;
  }

  [data-icon]:before {
    content: "c";
  }

  iframe {
    display: inline-block;
    vertical-align: middle;
  }
}

.header-inner {
  max-width: $wrapper-max-width;
  margin: auto;
  padding: ($gutter * 4) $gutter;
}

h1 {
  color: $color-primary;
  font-size: 3.4rem;
  margin: 0;
  line-height: 1.2;

  @media (min-width: 768px) {
    font-size: 4rem;
  }
}

.darker {
  color: $color-primary-darker;
}

.article__actions {
  $size: 30px;

  display: block;
  height: $size;
  width: 100%;

  position: absolute;
  top: -($size / 2);
  left: 0;

  a {
    $border-width: 2px;

    display: inline-block;
    width: $size;
    height: $size;
    line-height: ($size - $border-width);
    background-color: $color-primary;
    color: #fff;
    border: $border-width solid $color-primary;
    border-radius: 50%;
    transition: all 200ms ease-out;

    &:focus,
    &:hover {
      background-color: #fff;
      color: $color-primary;
      text-decoration: none;
      transform: scale(1.2);
    }
  }
}